body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main,.box{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main{
    height: 200px;
    width: 200px;
    border-radius: 60px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #265aeb 90%);
}

.box{
    width: 140px;
    height: 140px;
    background-color: transparent;
    border: 12px solid white;
    position: relative;
    border-radius: 45px;
}

.circle-1{
    height: 60px;
    width: 60px;
    justify-content: center;
    background-color: transparent;
    border: 12px solid white;
    border-radius: 50%;
}

.circle-2{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}